<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@drawable/a2e0bf4f409bc2e9836f79954313832a"
        android:label="@string/app_name"
        android:roundIcon="@drawable/a2e0bf4f409bc2e9836f79954313832a"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".Scorecard"
            android:exported="false"
            android:parentActivityName=".MainActivity2" />
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:parentActivityName=".DetailsPage" />
        <activity
            android:name=".DetailsPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>